*{
	background-color:#A164DF;
}
#buttons{
	
	display:flex;
	flex-wrap:wrap;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Optional: Center text within the div */
/*     border: 1px solid #ccc; /* Optional: Add a border for visibility */ */
    padding: 20px; /* Optional: Add padding for spacing */
    background-color: #A164DF;


}
.btn{
	width:130px;
	height:40px;
	margin: 10px;
	color:white;
    background-color:#663399;
	border-radius:5px;
	
	

	
	
}